.site-footer {
    background-color: #b41111; /* Темный фон */
    color: white; /* Белый текст */
    text-align: center; /* Центрирование */
    padding: 20px; /* Отступы */
    margin-top: auto; /* Помогает прижать футер с Flexbox */
    flex-shrink: 0; /* Футер не сжимается */
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto; /* Растягивает контент, выталкивая футер вниз */
}

 .container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}