{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'mainpage/css/keeks.css' %}">
<div class="profile-card">

    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" width="150" class="avatar">
    {% else %}
        <p>No avatar</p>
    {% endif %}

    <div class="username">{{ user.username }}</div>

    <div class="rank-block">
        <div class="rank-info">
            <span class="level">LVL: {{ user.profile.level }}</span>
            <span class="elo">{{ user.profile.elo }}:ELO</span>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="my-button">Сохранить</button>
    </form>

    <div class="bio">
        <strong>О себе:</strong><br>
        {{ user.profile.bio|default:"Нет информации" }}
    </div>

    <p>{{ info }}</p>

</div>
{% endblock %}