{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация | Brawlhalla Forum</title>

    <link rel="stylesheet" href="{% static 'mainpage/css/geak.css' %}">
    <link rel="stylesheet" href="{% static 'mainpage/css/register.css' %}">


</head>
<body>

<div class="register-wrapper">

    <div class="auth-card">

        <div class="auth-title">
            ⚔️ Реєстрація
        </div>

        <form method="POST" class="auth-form">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="my-button">
                Зареєструватися
            </button>

        </form>

        <a href="{% url 'login' %}" class="auth-link">
            Вже є акаунт? Увійти
        </a>

    </div>

</div>

</body>
</html>