{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'mainpage/css/register.css' %}">

<div class="auth-card">

    <div class="auth-title">⚔️ Реєстрація</div>

    <form method="POST" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="my-button">
            Зареєструватися
        </button>
    </form>

    <a href="{% url 'login' %}" class="auth-link">
        Вже є акаунт? Увійти
    </a>

</div>

{% endblock %}